<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
    <h1>Input</h1>
    <h2>Enter Your Name</h2>
    <form th:object="${user}" action="Output.html" th:action="@{Output}">
        <div th:if="${#fields.hasErrors('*')}">
            <h3 class="error">Input Errors</h3>
            <ul>
                <li class="error" th:each="e: ${#fields.errors('*')}" th:text="${e}">Input Error</li>
            </ul>
        </div>
        <p>
            <label for="fn">First Name</label>
            <input id="fn" th:field="*{firstName}">
        </p>
        <p>
            <label for="ln">Last Name</label>
            <input id="ln" th:field="*{lastName}">
        </p>

        <button type="submit">OK</button>
    </form>
    <p>
        Running on <span class="server" th:text="Java">HTML</span> server.
    </p>
</body>
</html>
