<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
    <h1>Output</h1>
    <h2 th:object="${user}">Hello
        <span th:text="*{firstName}">Alex</span>
        <span th:text="*{lastName}">Tetervak</span>!
    </h2>
    <p>
        Your lucky number is <span th:text="${rand}">34</span>.
    </p>
    <p>
        Running on <span class="server" th:text="Java">HTML</span> server.
    </p>
</body>
</html>
